<link rel="stylesheet" href="/css/user_profile.css">
    <h1>Social <%= tittle %></h1>
    

    <% if(user.id == profile_user.id){%>
        <form action="/users/update/<%= profile_user.id %>" method="POST">
            <input type="text" name="name" placeholder="Name" value="<%= profile_user.name %>" required>
            <input type="email" name="email" placeholder="Email" value="<%= profile_user.email %>" required>
            <input type="submit" value="Update">
        </form>
    <%}else{%>
        <h2><%= profile_user.name %></h2>
        <h2><%= profile_user.email %></h2>
    <%}%>